@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} { @content; }
    @-moz-keyframes #{$animation-name} { @content; }  
    @-ms-keyframes #{$animation-name} { @content; }
    @-o-keyframes #{$animation-name} { @content; }  
    @keyframes #{$animation-name} { @content; }
}
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
}
@mixin background-gradient($color-deg, $one-color, $two-color, $three-color, $four-color, $color-size) { 
    background: $start-color;
    background: -webkit-linear-gradient($color-deg, $one-color, $two-color, $three-color, $four-color) $color-size;
    background: linear-gradient(to $color-deg, $one-color, $two-color, $three-color, $four-color) $color-size;
}
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null, $index: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $index;
}